Szymon Czapracki <szymon.czapracki@codecoup.pl>			<szymonczapracki@gmail.com>
Szymon Czapracki <szymon.czapracki@codecoup.pl>			szymon-czapracki
Michał Narajowski <michal.narajowski@codecoup.pl>		Michal Narajowski
Grzegorz Kolodziejczyk <grzegorz.kolodziejczyk@codecoup.pl>	<grzegorz.kolodziejczyk@tieto.com>
Alperen Şener <alperen.sener@nordicsemi.no>			Alperen Sener
Lang Xie <lang.xie@nordicsemi.no>				<Lang.Xie@nordicsemi.no>
Artur Dobrynin <artur.dobrynin@nordicsemi.no>			ardo-nordic
Henrik Eriksen <heri@demant.com>				<heri@oticon.com>
Jakub Rotkiewicz <jakub.rotkiewicz@codecoup.pl>			<jakub.rotkiewicz@codecoup.pl>
Jakub Rotkiewicz <jakub.rotkiewicz@codecoup.pl>			<rotkiewicz.jakub@gmail.com>
Ruslan Mstoi <ruslan.mstoi@linux.intel.com>			<ruslan.mstoi@gmail.com>
Ruslan Mstoi <ruslan.mstoi@linux.intel.com>			<ruslan.mstoi@intel.com>
Mariusz Skamra <mariusz.skamra@codecoup.pl>			<mariusz.skamra@tieto.com>
Tedd Ho-Jeong An <tedd.an@intel.com>				<48267178+tedd-an@users.noreply.github.com>
Bartosz Olszewski <bartosz.olszewski@tieto.com>			<olszebar@localhost.localdomain>
Chu, Ryan <ryan.chu@nordicsemi.no>				<Ryan.Chu@nordicsemi.no>
